html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.container {
  width: auto;
  padding: 0 15px;
}

.container .text-muted {
  margin: 20px 0;
}

.footer .container .text-muted a{
  color: #ECECEC;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #676464;
}
