<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog do Gabriel Feitosa > AngularJS: Real Time</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/theme.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div ng-controller="ChatController">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="page-header">
              <h1>Mensagens</h1>
            </div>
            <div class="row">
              <form class="form-inline" ng-submit="mensagens.abrir(usuario.nome)">
                <div class="form-group" ng-if="!mensagens.isAberto()">
                  <input class="form-control" ng-model="usuario.nome" placeholder="Informe um usuário" required>
                  <button class="btn btn-primary" type="submit">Entrar</button>
                </div>
                <div class="form-group" ng-if="mensagens.isAberto()">
                  Usuário: <label>{{usuario.nome}}</label>
                  <button class="btn btn-primary" ng-click="mensagens.sair()">Sair</button>
                </div>
              </form>
            </div>
            <br>
            <div ng-if="mensagens.isAberto()">
              <div class="row">
                <form class="form-inline" ng-submit="mensagens.cadastrar(usuario.nome,texto);texto=''">
                  Enviar Mensagem:
                  <div class="form-group">
                    <input class="form-control" ng-model="texto" placeholder="Texto">
                    <button class="btn btn-primary btn-xs" type="submit">Enviar</button>
                  </div>
                </form>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12">
                  <ul>
                    <li ng-repeat="mensagem in mensagens.listar()">
                      <b>[{{mensagem.dataRegistro | date: 'dd/MM/yyyy HH:mm'}}] - {{mensagem.usuario}}</b>:<span>{{mensagem.texto}}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
        
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted"><a href="http://www.gabrielfeitosa.com"> Blog do Gabriel Feitosa</a></p>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="scripts/app.js"></script>
  </body>
</html>