<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blog do Gabriel Feitosa > AngularJS: Real Time</title>


  <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/theme.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="page-header">
      <h1>Budega do Seu Zé</h1>
    </div>
    <div ng-controller="BalcaoController as balcao">

      <button ng-click="balcao.fn.iniciarAtendimento()" ng-if="!balcao.fn.isAberto()" class="btn btn-primary">Abrir Atendimento</button>
      <button ng-click="balcao.fn.encerrarAtendimento()" ng-if="balcao.fn.isAberto()" class="btn btn-danger">Fechar Atendimento</button>
			<h2>Balcão de Atendimento: {{balcao.fn.isAberto() ? 'ABERTO' :'FECHADO'}}</h2>
			<div ng-if="balcao.fn.isAberto()">
        <table class="table table-striped">
          <thead>
            <tr>
              <td>#</td>
              <td>Item</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="pedido in balcao.fn.getPedidos()">
              <td>{{pedido.id}}</td>
              <td>{{pedido.item}}</td>
              <td>
                <button ng-class="{disabled: pedido.emAtendimento}" class="btn btn btn-info btn-sm"
									ng-click="balcao.fn.atenderPedido(pedido)" ng-disabled="pedido.emAtendimento">
                  {{pedido.emAtendimento ? 'Em Atendimento' : 'Atender Pedido'}}</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <p class="text-muted"><a href="http://www.gabrielfeitosa.com"> Blog do Gabriel Feitosa</a></p>
    </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <script src="scripts/app.js"></script>
</body>

</html>
