<!doctype html>
<html ng-app="lanchonete">
<head>
<meta charset="UTF-8">
<title>Pedidos - Real Time</title>
</head>
<body>
	<div ng-controller="LanchoneteController as lanchonete">
		<button ng-click="lanchonete.abrir()" ng-if="!lanchonete.isAberta()">Abrir
			Lanchonete</button>
		<button ng-click="lanchonete.fechar()" ng-if="lanchonete.isAberta()">Fechar
			Lanchonete</button>
		<div ng-controller="AtendimentoController as atendimento" ng-if="lanchonete.isAberta()">
			<h2>Pedidos</h2>
			<ul class="list-group">
				<li ng-repeat="pedido in atendimento.getPedidos()">{{pedido.id}} -
					{{pedido.item}}
					<button ng-click="atendimento.atenderPedido(pedido.id)">Atender Pedido</button>
				</li>
			</ul>
		</div>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
	<script src="scripts/app.js"></script>
</body>
</html>